.film-info {
  display: flex;
  flex: 1 0 100%;
  .film-poster {
    flex: 1 0 20%;
  }
  .film-desc {
    flex: 1 0 70%;
  }
}

.film-info--short {
  position: relative;
  margin: 0 0 25px 0;
  padding: 25px;
  background: $main;
  .arrow {
    position: absolute;
    left: 15px;
    top: -15px;
    @include triangle('up', $main, 15px);
    transition: left .5s ease;
  }
  .description {
    margin-bottom: 10px;
  }
  .read-more {
    display: flex;
    justify-content: flex-end;
  }
  .h3 {
    padding: 15px 0;
    text-align: center;
    color: $orange;
  }
}

.film-desc__list {
  margin-bottom: 15px;
  li {
    display: flex;
    line-height: 25px;
    //color: $white;
    .desc-title {
      flex: 1 0 20%;
      color: $orange;
    }
    .desc-text {
      flex: 1 0 65%;
    }
  }
}

.film-poster {
  margin-right: 20px;
}

.read-more__link {
  @extend %read-more-link;
}

.close-info {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}