/*********************************************\
		Desktop First Method
\*********************************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  aside {
    display: none;
  }
  #header {
    padding: 12px 25px 12px 320px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 960px) {
  #header {
    padding: 12px 25px;
  }
  main {
    display: block;
  }
  .main-content {

  }
  .aside-desc {
    margin-top: 0;
    max-width: 100%;
    flex: 1 0 100%;
  }
  .rating {
    display: none;
  }
  .main-content {
    padding: 31px 0;
  }
}

@media only screen and (max-width: 960px) and (min-width: 480px) {
  .main-title {
    padding: 10px 0 11px 11px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .aside-desc {
    padding: 38px 0 15px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    section {
      flex: 2 0 45%;
    }
    .h3 {
      margin-bottom: 7px;
      padding: 12px;
      text-align: center;
    }
    .avatar-block {
      img {
        width: 200px;
      }
    }
  }
  .aside-list {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 960px) and (min-width: 600px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 599px) {
  .avatar-block {
    text-align: center;
  }
  .list {
    .film {
      flex: 1 0 33%;
    }
  }
}

/* Small Devices, From Tablet To Mobile */
@media only screen and (max-width: 768px) and (min-width: 480px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .list {
    justify-content: space-around;
    .film {
      text-align: center;
      flex: 1 0 100%;
      img {
        width: 70%;
      }
      &.empty-img {
        display: block;
      }
    }
    &.col-3 {
      .film {
        flex: 1 0 100%;
      }
    }
  }

  .film-info--short {
    margin: 0 -25px 25px -25px;

  }
  .film-info {
    display: block;
    .film-poster {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      img {
        max-width: 200px;
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  //.list {
  //  .film {
  //    flex: 1 0 100%;
  //  }
  //}
}

/*********************************************\
		Mobile First Method
\*********************************************/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}