.main-title {
  padding: 21px;
  font-size: 16px;
  background: $dark-main;
}

h2 {

}

.h3 {
  font-size: 12px;
  font-family: AleoRegular, serif;
  text-transform: uppercase;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 11px;
}