@import "compass";
@import "reset";
@import "fonts";
@import "variables";
@import "typography";
@import "helpers";
@import "extends";
@import "forms";
@import "font-awesome/font-awesome";
@import "film-description";
@import "search";

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body {
  font: 13px Roboto, sans-serif;
  color: #b4b1b2;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: $light-gray;
}

.view-type {
  width: 50px;
  display: flex;
  justify-content: space-between;
  i {
    font-size: 16px;
    cursor: pointer;
    &.active {
      color: $main;
    }
  }
}

main {
  padding: 0 25px;
  display: flex;
  flex-grow: 1;
}

/*************************
* Left aside block styles
*************************/

.aside-desc {
  margin-top: -59px;
  //width: 250px;
  flex: 1 0 280px;
  background: $main;
  &:after {
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: rgba($white, 0.1);
    position: absolute;
  }
  section {
    margin-bottom: 15px;
  }
  .h3 {
    padding: 23px 25px 23px 45px;
    margin-bottom: 20px;
    background: $dark-main;
  }
}

.aside-list__item {
  display: flex;
  padding: 7px 35px;
  justify-content: space-between;
  align-items: center;
  @extend %animation;
  &:hover, &.active {
    color: $white;
    background: $dark-main;
    @include box-shadow($white 2px 2px 10px inset);
    .count {
      background: #fe505a;
      color: $white;

      @extend %animation;
    }
  }
  .aside-list__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    //@extend %animation;
  }
  .count {
    min-width: 30px;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 3px;
    background: $dark-main;
    text-align: center;
  }
  &.profession {
    align-items: flex-start;
  }
}

.profession-list {
  li {
    margin-bottom: 10px;
  }
}

.rating-list {
  padding: 0 35px;
}

figure.rating-item {
  display: flex;
  margin-bottom: 20px;
  img {
    flex-basis: 40px;
    margin-right: 9px;
  }
  h5 {
    margin-bottom: 6px;
  }
}

/********************
* Main content styles
********************/

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 31px 60px 31px 36px;
  flex-grow: 1;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  .film {
    padding: 0 10px;
    margin-bottom: 20px;
    flex: 1 0 250px;
  }
}

/*************************
* Right aside block
**************************/

aside {
  //width: 250px;
  padding: 30px 47px 30px 24px;
  flex: 1 0 225px;
  h3 {
    padding: 0 0 23px 0;
    color: $main;
  }
}

.comment {
  article {
    margin-bottom: 16px;
  }
  header {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    img {
      margin-right: 12px;
      flex-basis: 35px;
      border-radius: 50%;
      border: 2px solid $blue;
    }
  }
  p {
    margin-bottom: 5px;
    padding: 11px 15px 11px 15px;
    background: $blue;
    border-radius: 10px;
    color: #d0dfff;
    font-size: 11px;
    line-height: 17px;
  }
  footer {
    font-size: 11px;
    color: $blue;
    text-align: center;
  }
}

#footer {
  height: 80px;
  background: $light-gray;
}

.load {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba($white, .8);
  .preloader {
    width: 160px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -80px;
    //display: block;
    //background: url("../../img/preloader.gif") no-repeat;
    background: url("../../img/preloader.gif");
  }
}

.empty {
  text-align: center;
}

//.show-preloader {
//  position: absolute;
//  display: block;
//}

@import "media";